<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <test thread-count="5" name="Chrome browser Test">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class  name="Test.ProperTest.TestCase02">
                <methods>
                    <exclude name="test01"/>
                    <exclude name="test02"/>
                    <exclude name="test03"/>
                    <exclude name="test04"/>
                    <exclude name="test05"/>
                    <include name="test06"/>

                </methods>
            </class>
        </classes>
    </test>


</suite> <!-- Suite -->
